<div class="table-wrapper">
  <div class="btn add">
    <i class="fa fa-plus" aria-hidden="true" (click)="addCandidato()"></i>
  </div>
  <div class="table-scroll">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Partido</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let candidato of allCandidatos; let i = index">
          <td scope="row">{{ i+1 }}</td>
          <td>{{ candidato.cedula }}</td>
          <td>{{ candidato.nombre }} {{" "}} {{ candidato.apellido }}</td>
          <td>
            <ng-container *ngIf="candidato.partido; else emptyValue">
              {{ candidato.partido.nombre }}
            </ng-container>
          </td>
          <td>
            <div class="btn edit">
              <button type="submit" class="btn btn-primary" >Editar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #emptyValue>
  N/A
</ng-template>
