<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información del candidato</h4>
  </div>
  <div class="modal-body">
    <div>
      <form #candidatoForm>
        <div class="form-group">
          <label for="cedula">Cedula</label>
          <input type="text" class="form-control" name="ceula" aria-describedby="cedula" [(ngModel)]="candidatoToAdd.cedula" placeholder="Ingresa la cedula">
        </div>

        <div class="form-group">
          <label for="nombre">Nombres</label>
          <input type="text" class="form-control" name="nombre" aria-describedby="nombre" [(ngModel)]="candidatoToAdd.nombre" placeholder="Ingresa el nombre">
        </div>

        <div class="form-group">
          <label for="apellido">Apellidos</label>
          <input type="text" class="form-control" name="apellido" aria-describedby="apellido" [(ngModel)]="candidatoToAdd.apellido" placeholder="Ingresa el apellido">
        </div>

        <div class="form-group">
          <label for="resolucion">Resolución</label>
          <input type="text" class="form-control" name="resolucion" aria-describedby="resolucion" [(ngModel)]="candidatoToAdd.resolucion" placeholder="Ingresa la resolucion">
        </div>

        <div class="form-group">
          <label for="resolucion">Partido politico</label>
          <select class="form-select" name="candidatoToAdd" aria-label="candidatoToAdd" required [(ngModel)]="candidatoToAdd.partido">
            <option *ngFor="let partido of allPartidos" [ngValue]="partido"> {{ partido.nombre }}</option>
          </select>
        </div>

        <div class="search-error-message" *ngIf="hasToShowErrorPartidoServiceMessage">
          <p>
            <ngb-alert [dismissible]="true">
              {{ errorServiceMessage }}
            </ngb-alert>
          </p>
        </div>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addNewCandidato()">Agregar</button>
  </div>
<div>
